<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Placemat Admin</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>        
        <section>
            <h2 class="full-width-borders"><img src="/images/placemat.png"/>BKB Placemat Admin</h2>                       
            <form action="/admin" method="POST">
                <p>Thema eingeben:</p>
                <input type="text" name="tbxThema" id="tbxThema" value="<%= thema%>">
                <p>Anzahl der Gruppen eingeben:</p>
                <input type="number" name="tbxAnzahlGruppen" id="tbxAnzahlGruppen" value="<%= anzahlGruppen%>">            
                <p>Dauer Think-Phase in Minuten:</p>
                <input type="number" name="tbxThink" id="tbxThink" value="<%= dauerThink%>">            
                <p>Dauer Pair-Phase in Minuten:</p>
                <input type="number" name="tbxPair" id="tbxPair" value="<%= dauerPair%>">            
                <p></p>
                <button id="btnButton"><%= absenden%></button>        
            </form>
            <p>&copy; 2018 GW11<br></p>        

            <table border="1">
                <tr>
                    <td>Gruppe</td><td>Name</td><td>Treffpunkt</td>
                </tr>
                <% if(placematUser){ %>                    
                <% for(var i=0; i < placematUser.length; i++) {%>
                    <tr><td><%- placematUser[i].gruppe %></td><td><%- placematUser[i].name %></td><td><%- placematUser[i].treffpunkt %></td></tr>
                <% } %> 
                <% } %> 
            </table>            
        </section>
    </body>
</html>